.Rproj.user
.Rhistory
.RData
.DS_Store

csas-style
knitr-cache-docx
knitr-cache-tex
knitr-figs-docx
knitr-figs-pdf
models*
translation
_book
HerringSR.aux
HerringSR.log
HerringSR.Rmd
HerringSR.tex
HerringSR.upa
HerringSR.pdf
HerringSR.knit.md
HerringSR.utf8.md

*.zip
*.docx
*.pdf
*.log
