# R files
.Rproj.user
.Rhistory
.RData
.DS_Store

# Folders
csas-style
knitr-cache-docx
knitr-cache-tex
knitr-figs-docx
knitr-figs-pdf
models*
translation
_book

# Temporary knitr files
HerringSR.aux
HerringSR.log
HerringSR.Rmd
HerringSR.tex
HerringSR.upa
HerringSR.pdf
HerringSR.knit.md
HerringSR.utf8.md

# General file types
*.zip
*.docx
*.png
*.pdf
*.log

# Data files
data/incidental-*.csv

# Figures and tables
lrp_ms
*ppt.png
summed_picture.pptx
